[MASTER]
ignore = migrations,venv
ignore=src/handlers/health.py,tests/test_app.py


[MESSAGES CONTROL]
disable =
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    unused-argument,
    no-member  # désactive les faux positifs sur FastAPI

[FORMAT]
max-line-length=100
