# Core web framework
fastapi~=0.116.1

# ASGI server
uvicorn[standard]==0.30.*

# Validation & settings
pydantic==2.*
pydantic-settings==2.*
email-validator==2.*

# Logging & Security
python-json-logger==2.*
PyJWT==2.*
passlib[bcrypt]==1.*

# Database & Cache
asyncpg~=0.30.0

# Monitoring / metrics
prometheus-client==0.*

# Multipart forms
python-multipart

SQLAlchemy~=2.0.43
pip~=25.1.1
psycopg2-binary
