# Inclure toutes les dépendances de prod
-r requirements.txt

# Testing
pytest
pytest-cov
pytest-asyncio
httpx

# Linting / formatting / type checking
black==24.1.1
ruff==0.13.1
mypy==1.5.1
pylint==3.3.8
astroid==3.3.11

# Security checks
bandit
safety
pip-audit

# Dev tools
watchfiles
ipython
deptry
