# Core web framework
fastapi==0.115.*

# ASGI server
uvicorn[standard]==0.30.*

# Validation & settings
pydantic==2.*
pydantic-settings==2.*
email-validator==2.*

# Logging
python-json-logger==2.*
PyJWT==2.*
passlib[bcrypt]==1.*


# Monitoring / metrics
prometheus-client==0.*

# Testing
pytest
pytest-cov
pytest-asyncio
httpx   # pour tester ton API FastAPI/Starlette

# Linting / formatting / type checking
black==24.0.0
isort==5.12.0
mypy
pylint

# Security checks
bandit
safety
pip-audit   # complément moderne à safety


# Dev DX
watchfiles  # hot-reload uvicorn
ipython

python-multipart
